* {
    margin: 0;
    padding: 2px;
}
.encabezado {
    background-color: aliceblue;
    position: sticky;
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
footer {
    background-color: aliceblue;
}
